<h1>Listing recipes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Cooking times</th>
    <th>Favourite</th>
    <th>Guide</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @recipes.each do |recipe| %>
  <tr>
    <td><%= recipe.name %></td>
    <td><%= recipe.cooking_times %></td>
    <td><%= recipe.favourite %></td>
    <td><%= recipe.guide %></td>
    <td><%= link_to 'Show', recipe %></td>
    <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
    <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Recipe', new_recipe_path %>
